* {
    user-select: none;
    font-family: 'Anonymous Pro', monospace;
}

    body {
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
        color: #637E97; /* Colore principale */
        overflow-x: hidden;
    }

    /* Header Styles */
    header {
        background-color: rgba(99, 126, 151, 1);
        padding: 10px 0;
        color: #fff;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        transition: background-color 0.5s ease; /* Aggiungi transizione per lo sfumato */
    }

    header:hover {
        background-color: rgba(99, 126, 151, 1);
    }

    .logo {
        font-size: 24px;
        font-weight: bold;
        display: flex;
        align-items: center;
    }

    .logo img {
        margin-right: 10px;
        width: 70px;
        height: auto;
    }

    .menu {
        float: right;
    }

    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu ul li {
        display: inline-block;
        margin-right: 20px;
        position: relative;
    }

    .menu ul li:last-child {
        margin-right: 0;
    }

    .menu ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        position: relative;
    }

    .menu ul li a:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #fff;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }

    .menu ul li a:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }

    #PulsanteLogin{
            display: inline-block;
            padding: 10px 20px;
            background-color: #f8f9fa;
            color: #445566;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
            margin-top: 10px;
    
        
    }

    #PulsanteLogin:hover {
        background-color: #637E97;
        color: #fff;
    }

    .submenu {
        display: none;
        position: absolute;
        background-color: #637E97;
        padding: 10px;
        border-radius: 5px;
        z-index: 1;
        width: 300px;
        left: 0;
        top: 100%;
        animation: fadeIn 0.5s ease-out;
    }

    .menu ul li:hover .submenu {
        display: block;
    }

    .submenu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    .submenu ul li {
        display: block;
        margin-bottom: 10px;
    }

    .submenu ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
    }

    .submenu ul li a:hover {
        color: #ccc;
    }

    /* Main Content Styles */
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 5px;
        padding-left: 60px;
        padding-right: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .containerBody {
        max-width: 100%;
        margin: 0 auto;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .login-button {
        display: block;
        width: 200px;
        margin: 20px auto;
        padding: 10px;
        text-align: center;
        background-color: #637E97;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-size: 18px;
    }

    .login-button:hover {
        background-color: #445566;
    }

    .section-title {

        font-weight: bolder;
         /*font-size: 28pt;*/
          text-align: center;
           margin-top: 40px;
        font-size: 26px;
        color: #445566;
        margin-bottom: 20px;
    }

    .contact-section {
        margin-top: 40px;
    }

    .contact-section p {
        font-size: 18px;
        line-height: 1.6;
    }

    .glasses-section {
        margin-top: 40px;
    }

    .glasses-section img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    .slider-container {
        position: relative;
        overflow: hidden;
        margin: 80px auto 0; /* Imposta il margine superiore per garantire che il carousel non sia coperto dall'header */
    height: calc(100vh - 80px); /* Imposta l'altezza del carousel considerando l'altezza dell'header */
    width: 100%;
        z-index: 0; /* Assicura che lo slider sia dietro all'header */
    }

    .carousel {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        pointer-events: none;
    }

    .carousel::selection {
        background-color: transparent;
    }

    .carousel:-moz-section {
        background-color: transparent;
    }

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }

    .controls {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }

    .dot {
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
    }

    .dot.active {
        background-color: #637E97;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    /* Aggiornamento dello stile per la sezione "Nuovi Brand" */
    .brand-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Spazio uniforme tra le immagini */
        margin-top: 40px;
    }

    .brand {
        width: calc(32% - 10px); /* Larghezza delle immagini con uno spazio di 20px tra di esse */
        height: calc(32% - 10px);
        margin-bottom: 20px; /* Spazio tra le righe */
        position: relative;
    }

    .brand-img {
        width: 100%; /* Immagini occupano l'intera larghezza del loro contenitore */
        height: 100%; /* Immagini occupano l'intera altezza del loro contenitore */
        object-fit: cover; /* Adatta l'immagine per coprire uniformemente il contenitore */
        transition: transform 0.3s;
    }

    .brand:hover .brand-img {
        transform: scale(1.05); /* Leggero ingrandimento al passaggio del mouse */
    }

    .brand-name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 10px;
        background-color: rgba(68, 85, 102, 0.7); /* Sfondo del nome del brand */
        color: #fff; /* Colore del testo del nome del brand */
        font-weight: bold;
        font-size: 20px; /* Dimensione del testo del nome del brand */
        opacity: 0; /* Renderizzazione iniziale del nome del brand nascosto */
        /*transition: opacity 0.3s; /* Transizione per la visualizzazione del nome del brand */
        opacity: 1;
    }



    /* Footer Styles */
    footer {
        background-color: #637E97;
        color: #fff;
        padding: 20px 0;
        padding-bottom: 0;
        position: relative; /* Assicura che il footer non copra il contenuto */
        z-index: 1; /* Assicura che il footer sia sopra il contenuto */
        transition: background-color 0.5s ease; /* Aggiungi transizione per lo sfumato */
    }

    footer .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 20px;
    }

    footer h3 {
        margin-bottom: 10px;
    }

    footer .contact-info,
    footer .map {
        flex: 1;
        padding: 0 20px;
        transition: transform 0.3s ease-out;
        color: inherit;
        text-decoration: none;
        height: 100% !important;
    }

    footer .map iframe {
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    footer .copyright {
        background-color: #445566;
        padding: 10px 0;
        text-align: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    footer .contact-info {
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        background-color: #445566;
    }

    footer .contact-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #f8f9fa;
        color: #445566;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
        margin-top: 10px;
    }

    footer .contact-button:hover {
        background-color: #637E97;
        color: #fff;
    }

    footer .contact-info:hover,
    footer .map:hover {
        transform: translateY(-5px);
    }

    .menu-toggle{
    display: none;
    }



    .toggle-menu{
        display:  none;
    }

    #PulsanteLogin{
        width: auto;
    }

    .Logo-FormContatti{
        width: 100%;
    }

    .Img-FormContatti{
        width: 100px;
        padding: 10px;
    }

    .InputNewsletter{
        all: unset;
        float: left;
        width: 80%;
    }

    .ButtonNewsletter{
        all: unset;
        float: right;
    }

    #ArrowNewsletter{
        padding: 0.4%;
        border-radius: 5px;
        transition: background-color 1s;
        transition: color 1s;
    }

    #ArrowNewsletter:hover{
        color: #445566;;
        background-color: white;
    }

    .FormNewsletter{
        padding-bottom: 10px;
    }

    .CheckBoxInput {
        display: flex;
        align-items: center; /* Centra verticalmente i contenuti */
    }
    .DivCheckBox {
        margin-right: 10px; /* Spazio tra il checkbox e il testo, opzionale */
    }
    .CheckBoxInput div {
        display: flex;
        flex-direction: column; /* Mantiene i paragrafi uno sotto l'altro */
    }

    .CheckBoxInput div p {
        margin: 0; /* Rimuove il margine dei paragrafi */
        line-height: 0.5; /* Riduce lo spazio tra le righe di testo */
        font-size: x-small;
    }

    .linea {
        width: 50px; /* Lunghezza desiderata */
        height: 5px; /* Spessore della linea */
        background-color: lightgray; /* Colore della linea */
        margin: 0 auto; /* Per centrare la linea orizzontale */
    }

    .VisualizzaOcchiali{
        position: absolute;
            bottom: -40px;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            padding: 10px;
            opacity: 0;
            transition: opacity 0.5s, bottom 0.5s;
    }

    .brand:hover .VisualizzaOcchiali {
        opacity: 1;
        bottom: 10px;
    }

    .brand:hover .brand-img {
        filter: brightness(0.8); /* Opacizza leggermente l'immagine al passaggio del mouse */
    }

        @media screen and (max-width: 940px) {

            body {
                font-size: 0.875em; /* Riduce la dimensione del testo del 87.5% rispetto al testo di base */
            }

            .Content{
                font-size: 0.875em;
            }

            a{
                font-size: 0.875em;
            }
        
            header {
                padding: 10px 20px;
                box-sizing: border-box;
                font-size: 0.875em;
            }

            footer{
                font-size: 0.9em;
            }

            .logo{
                margin: 0 auto;
                align-items: center;
            }

            .logo img {
                width: 60px !important;
                height: auto;
                margin-left: 20px;
            }

            .TitoloPagina{
                display: none;
            }

            .submenu {
                width: 100%;
                left: auto;
            }

            .container {
                padding: 10px;
                font-size: 0.875em;
            }

            .map{
                font-size: 0.875em;
            }
    
            .brand-name{
                font-size: 0.875em;
            }

            .section-title{
                font-size: 0.875em;
            }


            /* Aggiornamento dello stile per la sezione "Nuovi Brand" */
            .brand-section {
                display: flex;
                flex-direction: column;
                justify-content: space-between; /* Spazio uniforme tra le immagini */
                margin-top: 40px;
            }

            .brand {
                width: calc(100% - 50px); /* Larghezza delle immagini con uno spazio di 20px tra di esse */
                height: calc(60% - 50px);
                position: relative;
                margin: 0 auto;
                margin-bottom: 20px; /* Spazio tra le righe */
            }

            .brand-img {
                width: 100%; /* Immagini occupano l'intera larghezza del loro contenitore */
                height: 100%; /* Immagini occupano l'intera altezza del loro contenitore */
                object-fit: cover; /* Adatta l'immagine per coprire uniformemente il contenitore */
                transition: transform 0.3s;
            }

            footer .container {
                flex-direction: column;
            }

            footer .contact-info,
            footer .map {
                width: 100%;
                max-width: calc(100% - 50px);
            }

            footer .contact-info:hover,
            footer .map:hover {
                transform: translateY(-5px);
            }

            footer .contact-info {
                margin-bottom: 20px;
            }


            /* Aggiungi questo stile per il navbar */
            .navbar {
                display: flex;
                align-items: center;
                cursor: pointer; /* Per indicare che è cliccabile */
            }

            .icon-bar {
                width: 30px;
                height: 5px;
                background-color: #fff;
                margin: 6px 0;
                transition: background-color 0.3s; /* Aggiungi una transizione */
            }

            /* Cambia il colore dell'icona quando ci passi sopra con il mouse */
            .icon-bar:hover {
                background-color: #ccc;
            }

            .menu {
                
                display: none;

                font-size: 0.875em;

                width: 90%;
    
                height: 100% !important; /* Imposta la larghezza del menu */
            }

            .menu ul {
                list-style-type: none; /* Rimuove i punti elenco */
                padding: 0; /* Rimuove lo spazio interno */
                margin: 0; /* Rimuove lo spazio esterno */
                width: 100%;
    
            }
    
            .menu li {
                border-bottom: 1px solid #ccc; /* Aggiunge una linea divisoria tra gli elementi */
                width: 100%;
            }


            .menu a {
                display: block; /* Trasforma gli elementi in blocchi per occupare tutto lo spazio disponibile */
                padding: 10px; /* Aggiunge spazio intorno al testo */
                text-decoration: none; /* Rimuove la sottolineatura */
            }
  

            .menu li:last-child {
                border-bottom: none; /* Rimuove la linea divisoria per l'ultimo elemento */
            }

            .navbar {
                display: none;
            }   


            .menu menu-active{
                width: 100%;
            }

        }

    